h1{
    background-color: palevioletred;
    color: black;
    font-size: 3cm;
}

p{
    font-size: 1cm;
}
.text1#subtext{
    color: red;
}
.text2{
    font-size:30px;
}
.text3{
    background-color: lightgray;
}

strike{
    color: green;
}